/* ---------------------------- Style For Arsa Consultant ------------------------------ */

/* --------------------------------------------------------------------

    *************** Table of Contents ***************

01. =google fonts
02. =variables
03. =base
04. =box
05. =customized bootstrap classes
06. =button
07. =background
08. =text
09. =section - padding , title, wrapper
10. =whatsapp
11. =forms
12. =video modal
13. =pagination
14. =breadcrumb
15. =tabs
16. =owl carousel
17. =header
18. =banner section
19. =about
20. =course
21. =schedule
22. =facility
23. =testomony
24. =footer
----------------------------------------------------------------------- */

/* ----------------------------
 01. =google fonts
 ------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* ----------------------------
 02. =variables
 ------------------------------ */
:root {
  /* =colors */
  --main-color: var(--dark-to-main-color);
  --secondary-color: var(--secondary-color);
  --tertiary-color: #ffb624;
  --white: hsl(0, 0%, 100%);
  --red: #e84545;
  --yellow: #ffc95f;
  --green: #3e7c17;
  --blue: #0a6ebd;
  --bg-dark: #2b2c2f;
  --dark-to-main-color: #05192e;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --body-bg-color: #faf9f9;
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsla(0, 0%, 0%, 0.4);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
  --border-color-2: hsl(133, 40%, 93%);
  --shadow: 0 0 10px hsl(133, 40%, 90%);

  /* =transition */
  --trans-05: all 0.5s ease;
  --trans-03: all 0.3s ease;
  --trans-02: all 0.2s ease;
}

/* ----------------------------
   03. =base
   ------------------------------ */
html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--white);
  line-height: 1.5;
}
body.hidden-scrolling {
  overflow-y: hidden;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-color);
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-90);
  line-height: 1.3;
}
h1 {
  line-height: 48px;
}

h2 {
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

h4 {
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

h5 {
  line-height: 24px;
}
p {
  line-height: 1.9;
}
span {
  line-height: 1.9;
}
::selection {
  color: var(--white);
  background-color: var(--main-color);
}
img {
  width: 100%;
}
/* ----------------------------
     04. =box
     ------------------------------ */
.box {
  box-shadow: var(--shadow-black-100);
  margin: 5px;
  padding: 15px;
  border-radius: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--white);
}

/* ----------------------------------
     05. =customized bootstrap classes
     ------------------------------------ */
/* .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */
.row {
  --bs-gutter-x: 30px;
}
/* ------------------------------
     06. =button
     -------------------------------- */
.btn {
  /* font-size: 16px; */
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  padding: 15px 40px;
  border-radius: 0;
  font-weight: 500;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 100%;
  left: 0;
  bottom: 10%;
  z-index: -1;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.btn-primary {
  background: var(--dark-to-main-color);
  color: var(--white);
}

.btn-primary::before {
  background: var(--white);
}

.btn-primary:active {
  background: var(--dark-to-main-color) !important;
  color: var(--dark-to-main-color);
}

.btn-primary:active::before {
  height: 80%;
}

.btn-primary:hover {
  background: var(--main-color);
  color: var(--dark-to-main-color);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--white);
  background-color: var(--dark-to-main-color);
  border-color: var(--dark-to-main-color);
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--white);
  border: 1px solid var(--secondary-color);
}

.btn-secondary::before {
  background: var(--secondary-color);
}

.btn-secondary:active {
  background: var(--secondary-color);
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-secondary:hover {
  background: var(--white);
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-tertiary {
  background: var(--tertiary-color);
  color: var(--dark-to-main-color);
  border: 1px solid var(--tertiary-color);
}

.btn-tertiary::before {
  background: var(--tertiary-color);
}

.btn-tertiary:active {
  background: var(--tertiary-color);
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-tertiary:hover {
  background: var(--white);
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-tertiary-outline {
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  background: transparent;
}

.btn-primary-outline::before {
  background: var(--white);
}

.btn-primary-outline:hover {
  background: var(--tertiary-color);
  color: var(--tertiary-color);
}

.btn-primary-outline:active {
  background: var(--tertiary-color);
  color: var(--white);
}

.btn-primary-outline {
  border: 1px solid var(--dark-to-main-color);
  color: var(--dark-to-main-color);
  background: transparent;
}

.btn-primary-outline::before {
  background: var(--white);
}

.btn-primary-outline:hover {
  background: var(--dark-to-main-color);
  color: var(--dark-to-main-color);
}

.btn-primary-outline:active {
  background: var(--dark-to-main-color);
  color: var(--white);
}

/* ------------------------------
     07. =background
     -------------------------------- */
.bg-success {
  background-color: var(--main-color);
}
.btn-success {
  background-color: var(--main-color);
}
.bg-primary {
  background: var(--main-color) !important;
}

.bg-secondary {
  background: var(--secondary-color) !important;
}

.bg-tertiary {
  background: var(--tertiary-color) !important;
}

.bg-dark {
  background: var(--dark-to-main-color) !important;
}

.bg-gray {
  background: #cfcbec;
}

/* ------------------------------
     08. =text
     -------------------------------- */
.text-success {
  color: var(--main-color) !important;
}
.text-primary {
  color: var(--main-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-tertiary {
  color: var(--tertiary-color) !important;
}

/* ------------------------------
     09. =section - padding , title, wrapper
     -------------------------------- */
.section-padding {
  padding: 60px 0;
}
.section-title {
  margin-bottom: 40px;
}

/* ------------------------------
   10. =whatsapp
   -------------------------------- */
.fa-whatsapp:before {
  color: var(--WHITE);
}
#whatsapp-chat {
  position: fixed;
  background: #fff;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 15px black;
  bottom: 90px;
  right: 30px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 1s;
  transform: scale(1);
}
a.blantershow-chat {
  background: #23ab23;
  color: #fff;
  position: fixed;
  z-index: 98;
  bottom: 25px;
  right: 30px;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}
a.blantershow-chat i {
  transform: scale(1.2);
  margin: 0 10px 0 0;
  color: var(--white);
}
.header-chat {
  background: #23ab23;
  color: #fff;
  padding: 20px;
}
.header-chat h3 {
  margin: 0 0 10px;
  color: var(--WHITE);
}
.header-chat p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}
.info-avatar {
  position: relative;
}
.info-avatar img {
  border-radius: 100%;
  width: 50px;
  float: left;
  margin: 0 10px 0 0;
}
.info-avatar:before {
  content: "\f232";
  z-index: 1;
  font-family: "Font Awesome 5 Brands";
  background: #23ab23;
  color: #fff;
  padding: 3px 5px;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  left: 30px;
}
a.informasi {
  padding: 20px;
  display: block;
  overflow: hidden;
  animation-name: showhide;
  animation-duration: 0.5s;
}
a.informasi:hover {
  background: #f1f1f1;
}
.info-chat span {
  display: block;
}
#get-label,
span.chat-label {
  font-size: 12px;
  color: #888;
}
#get-nama,
span.chat-nama {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}
#get-label,
#get-nama {
  color: #fff;
}
span.my-number {
  display: none;
}
.blanter-msg {
  color: #444;
  padding: 20px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
}
textarea#chat-input {
  border: none;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 20px;
  outline: none;
  resize: none;
}
a#send-it {
  color: #555;
  width: 60px;
  margin: -5px 0 0 5px;
  font-weight: 700;
  padding: 8px;
  background: #eee;
  border-radius: 10px;
}
.first-msg {
  background: #f5f5f5;
  padding: 30px;
  text-align: center;
}
.first-msg span {
  background: #e2e2e2;
  color: #333;
  font-size: 14.2px;
  line-height: 1.7;
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
}
.start-chat .blanter-msg {
  display: flex;
}
#get-number {
  display: none;
}
a.close-chat {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 30px;
}
@keyframes showhide {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  #whatsapp-chat {
    width: auto;
    left: 5%;
    right: 5%;
    font-size: 80%;
  }
}
.hide {
  display: none;
  animation-name: showhide;
  transform: scale(1);
  opacity: 1;
}
.show {
  display: block;
  animation-name: showhide;
  transform: scale(1);
  opacity: 1;
}
.ratio {
  background-color: transparent !important;
}

.modal.show {
  /* transform: scale(1.7); */
}
.modal-body svg {
  width: 15px;
  top: -8px !important;
  background-color: var(--main-color);
  border-radius: 15px;
}
.modal-header {
  /* padding: 0.25rem 0.25rem; */
}
.modal-header .btn-close {
  padding: 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--main-color);
  background-color: transparent;
}

/* ----------------------------
     11. =forms
     ------------------------------ */
.form-control {
  box-shadow: none;
  border: 1px solid #dadada;
  padding: 5px 20px;
  height: 44px;
  border-radius: 0;
}
.form-select {
  box-shadow: none;
  border: 1px solid #dadada;
  padding: 5px 20px;
  height: 48px;
  border-radius: 0;
}
.form-title {
  margin: 0 0 30px;
  font-weight: 600;
}
.font-control::placeholder {
  color: var(--black-70);
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}
.form-control {
  height: 48px;
  columns: var(--black-90);
  background-color: transparent;
}
.form-control:focus {
  background-color: transparent;
  border-color: var(--border-color-1);
  color: var(--black-90);
  box-shadow: none;
}
.select-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
select.form-control:focus option {
  background-color: var(--select-box-bg-color);
}
textarea.form-control {
  height: 120px;
  resize: none;
}

/* ----------------------------
     12. =video modal
     ------------------------------ */
.video-modal .btn-close {
  height: 35px;
  width: 35px;
  background-image: none;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  right: 0;
  top: -35px;
  color: #fff;
  padding: 0;
}
.video-modal .modal-content {
  border: 0;
}

/* ----------------------------
     13. =pagination
     ------------------------------ */
.page-item.disabled .page-link,
.page-link {
  border: none;
  background-color: transparent;
  color: var(--black-70);
}
.page-item.active .page-link {
  background-color: var(--main-color);
}
.page-link:hover {
  background-color: var(--main-color);
  color: var(--white);
}

/* ----------------------------
     14. =breadcrumb
     ------------------------------ */
.breadcrumb-nav {
  padding: 10px 0;
}
.breadcrumb-nav .breadcrumb-item {
  text-transform: capitalize;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active {
  color: var(--black-70);
}

/* ----------------------------
     15. =tabs
     ------------------------------ */
.nav-tabs .nav-link {
  background-color: var(--white);
  text-transform: capitalize;
  border-radius: 5px;
  color: var(--black-70);
  width: 210px;
  border-radius: 0;
  border-color: var(--main-color);
}
.nav-tabs .nav-link.hover {
  border-color: var(--border-color-1);
}
.nav-tabs .nav-link.active {
  display: flex;
  background-color: var(--main-color);
  border-color: transparent;
  color: var(--white);
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* ----------------------------
     16. =owl carousel
     ------------------------------ */
.owl-carousel .owl-item {
  opacity: 0.4;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-carousel .owl-nav span {
  font-size: 32px;
  font-weight: 900;
  color: var(--main-color);
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  margin-top: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font: 40px;
}
.owl-carousel .owl-nav .owl-prev {
  /* left: 30px !important; */
  background-color: var(--main-color);
  top: -130px;
  right: 15%;
}
.owl-carousel .owl-nav .owl-next {
  /* right: 30px !important; */
  top: -130px;
  right: 10%;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

/* ----------------------------
     17. =header
     ------------------------------ */
.navbar-light {
  background: var(--dark-to-main-color) !important;
  z-index: 3;
  padding: 0;
}
@media (max-width: 991.98px) {
  .navbar-light {
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}
.social-media {
  display: inline-block;
}
.social-media p a {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}
.social-media p a:hover,
.social-media p a:focus {
  background-color: var(--tertiary-color);
  transition: var(--trans-05);
}
.social-media p a span {
  color: #4d4d4d;
}
.navbar-brand {
  color: #000000;
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 30px;
}
.navbar-brand img {
  width: 250px;
  max-width: 100%;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--white);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 45px 0px;
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
  }
}
.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  border-bottom: 5px solid var(--tertiary-color);
  padding: 15px;
  top: 96px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  background: var(--dark-to-main-color);
  color: var(--white);
}

@media (max-width: 991px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: unset;
    transform-origin: unset;
  }
}

.navbar .dropdown-menu.view {
  visibility: visible !important;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media (max-width: 991px) {
  .navbar .dropdown-menu.view {
    display: block;
  }
}

.navbar .dropdown-menu.show {
  visibility: hidden;
}

@media (max-width: 991px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}

.navbar .dropdown-item {
  position: relative;
  color: var(--white);
  transition: 0.2s ease;
  font-family: "Lato", sans-serif;
}

@media (max-width: 991px) {
  .navbar .dropdown-item {
    text-align: center;
  }
}

.navbar .dropdown-item:not(:last-child) {
  margin-bottom: 10px;
}

.navbar .dropdown-item:hover {
  color: var(--tertiary-color);
  background: transparent;
}
.navbar .dropdown-item.active {
  background-color: var(--tertiary-color);
  color: var(--main-color);
}

.navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  color: #fff;
  position: relative;
  opacity: 1 !important;
}
.navbar-light .navbar-nav > .nav-item.active > .nav-link {
  color: var(--main-to-dark-color);
}
.navbar-light .navbar-nav > .nav-item.active > a::before {
  visibility: visible;
  background-color: #fdbe34;
  color: var(--main-color);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-light .navbar-nav > .nav-item > .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #fdbe34;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  z-index: -1;
}
.navbar-light .navbar-nav > .nav-item > .nav-link:hover,
.navbar-light .navbar-nav > .nav-item > .nav-link:focus {
  color: var(--tertiary-color);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.navbar-light .navbar-nav > .nav-item.active > .nav-link:hover,
.navbar-light .navbar-nav > .nav-item.active > .nav-link:focus {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .navbar-light .navbar-nav > .nav-item.active > a {
    color: var(--tertiary-color) !important;
  }
  .navbar-light .navbar-nav > .nav-item.active > a:before {
    display: none;
  }
  .navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
  .navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
    display: none;
  }
  .navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fdbe34;
  }
  .navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
    visibility: visible;
    background-color: #fdbe34;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.8);
  }
}
.searchform .form-control {
  height: 46px !important;
  background: var(--white) !important;
  color: #000000 !important;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.searchform .form-control {
  width: calc(100% - 46px);
  border: none;
  background: #fff !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px;
}
.searchform .search {
  width: 46px;
  height: 46px;
}

/* ----------------------------
     18. =banner section
     ------------------------------ */
.banner-carousel .banner-carousel-item {
  height: 700px;
  color: var(--white);
  background-position: 50% 50%;
  background-size: cover;
}

.banner-carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.6;
  width: 100%;
  padding: 0;
  z-index: 0;
}

.banner-carousel .inner {
  background: linear-gradient(rgb(0 5 28 / 50%), rgb(1 11 35 / 50%));
  padding: 20px;
}

@media (max-width: 991px) {
  .banner-carousel .banner-carousel-item {
    height: 550px;
  }
}

@media (max-width: 575px) {
  .banner-carousel .banner-carousel-item {
    height: 450px;
  }
}

.slider-content {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.slider-content h1 {
  color: var(--tertiary-color);
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.slide-title {
  /* font-size: 30px; */
  line-height: 36px;
  font-weight: 300;
  color: var(--white);
  margin: 20px 0 10px;
}

.slide-sub-title {
  font-style: normal;
  /* font-size: 60px; */
  line-height: 58px;
  margin: 20px 0;
  color: var(--white);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}

/* Carousel control */
.banner-carousel .carousel-control {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  text-shadow: none;
  transition: all 0.25s ease;
  padding: 0;
  outline: 0;
  border: 0;
}

@media (max-width: 575px) {
  .banner-carousel .carousel-control {
    display: none !important;
  }
}

.banner-carousel .slick-dots {
  opacity: 0;
  filter: alpha(opacity=0);
  bottom: 60px;
}

.slick-dots li button::before {
  font-size: 12px;
}

.slick-dots li button:hover:before,
.slick-dots .slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--tertiary-color);
}

.slick-slide {
  outline: 0;
}

.banner-carousel:hover .carousel-control,
.banner-carousel:hover .carousel-control,
.banner-carousel:hover .slick-dots {
  opacity: 1;
  filter: alpha(opacity=100);
}

.banner-carousel .carousel-control.left {
  left: 20px;
}

.banner-carousel .carousel-control.right {
  right: 20px;
}

.banner-carousel .carousel-control i {
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
  line-height: 58px;
  width: 60px;
  height: 60px;
  font-size: 22px;
  border-radius: 50%;
  transition: all 500ms ease;
}

.banner-carousel .carousel-control i:hover {
  background: var(--tertiary-color);
  color: var(--dark-to-main-color);
}

/*-- Animation */
.banner-carousel [data-animation-in] {
  opacity: 0;
}

/* ----------------------------
     19. =about
     ------------------------------ */
.about-section .about-item .about-item-content {
  padding: 10px 5px;
}
.about-section .accordion-item {
  border: none;
  background-color: transparent;
}
.about-section .accordion-item:not(:last-child) {
  margin-bottom: 20px;
}
.about-section .accordion-header {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--shadow-black-100);
  padding: 10px;
}
.about-section .accordion-header h2 {
  color: var(--dark-to-main-color);
}
.panel-default > .panel-heading {
  background-color: #000;
}
.about-section .accordion-button span {
  position: absolute;
  right: 17px;
}
.about-section .accordion-button::after {
  content: "\f077";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  background-image: none;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: auto;
  line-height: 1;
}
.about-section .accordion-button {
  background-color: transparent;
  color: var(--black-90);
  font-weight: 300;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 160px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .about-section .accordion-button {
    padding-left: 10px;
    padding-right: 25px;
  }
}
.about-section .accordion-button:focus {
  box-shadow: none;
}
.about-section .accordion-button:not(.collapsed) span {
  font-weight: 500;
}
.about-section .accordion-button:not(.collapsed)::after {
  transform: translateY(-50%) rotate(-180deg);
}
.about-section .accordion-button:not(.collapsed) {
  font-weight: 600;
  border-bottom: 1px solid var(--border-color-1);
  transition: none;
  box-shadow: none;
}
/* ---------------------------
     20. =course
     ---------------------------- */
.course-section .nav-tabs .nav-link {
  border-color: none;
  display: inline-block;
  color: var(--dark-to-main-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0;
  border-radius: 0;
  width: auto;
  padding: 15px 15px;
}
.course-section .nav-tabs .nav-link::before {
  background: var(--white);
}

.course-section .nav-tabs .nav-link.active {
  background: var(--dark-to-main-color) !important;
  color: var(--white);
}

.course-section .nav-tabs .nav-link:active::before {
  height: 80%;
}
.course-section .nav-tabs .nav-link:hover {
  background: var(--main-color);
  color: var(--white);
}
.course-section .course-box.box.course-item {
  box-shadow: var(--shadow-black-100);
  margin: 5px;
  padding: 15px;
  border-radius: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #ffffff;
}
.course-section .owl-carousel .owl-nav span {
  font-size: 32px;
  font-weight: 900;
  color: var(--main-color);
}
.course-section .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.course-section .owl-carousel .owl-dot.active {
  background-color: var(--main-color);
}

/* ---------------------------
     21. =schedule
     ---------------------------- */
.schedule-section .schedule-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.schedule-section .schedule-carousel .owl-dot.active {
  background-color: var(--tertiary-color);
}
/* ----------------------------
     22. =facility
     ------------------------------ */
.facility-section .facility-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
}

.facility-section .facility-item .item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.facility-section .facility-item .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.facility-section .facility-item .facility-img {
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 5px;
}
.facility-section .owl-carousel .owl-nav [class*="owl-"] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #ececec;
  background: transparent;
  color: var(--black-90);
  padding: 0px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.facility-section .owl-carousel .owl-nav button.owl-prev {
  left: -70px;
}

.facility-section .owl-carousel .owl-nav button.owl-next {
  right: -70px;
}
.facility-section .owl-carousel .owl-nav button .fa {
  color: var(--white);
}
.facility-section .owl-carousel .owl-nav [class*="owl-"] {
  /* background-color: rgba(21, 21, 21, 0.5); */

  background-color: rgba(255, 182, 36, 0.5);
  color: #fff;
  border: none;
}
@media (max-width: 767px) {
  .facility-section .owl-carousel .owl-nav button.owl-prev {
    left: 15px;
  }

  .facility-section .owl-carousel .owl-nav button.owl-next {
    right: 15px;
  }
}

/* ----------------------------
     23. =testimony 
     ------------------------------ */
.testimony-section .owl-carousel.testimony-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: -35px;
  position: relative;
}
.testimony-section .owl-carousel.testimony-carousel .owl-dot.active {
  background-color: var(--main-color);
}
.testimony-section .owl-carousel.testimony-carousel .card {
  border: 1px solid var(--border-color-1);
  border-radius: 0;
  box-shadow: var(--shadow-black-100);
}
.testimony-section .owl-carousel.testimony-carousel .card .card-body i {
  width: 70px;
  height: 70px;
  background-color: var(--main-color);
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: var(--white);
  font-size: 44px;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .testimony-section .owl-carousel.testimony-carousel .card .card-body i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 34px;
    margin-bottom: 20px;
  }
}

/* ----------------------------
     24. =footer 
     ------------------------------ */
.footer-top {
  padding: 80px 0 60px;
}
@media (max-width: 991px) {
  .footer-top {
    padding: 40px 0 60px;
  }
}
.footer .widget-title {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin: 0 0 30px;
  padding-left: 15px;
  text-transform: uppercase;
  border-left: 3px solid var(--main-color);
}
.footer-logo {
  max-height: 65px;
}

@media (max-width: 575px) {
  .footer-logo {
    max-height: 58px;
  }
}

.footer-widget ul li a {
  text-decoration: none;
}
.working-hours {
  padding-right: 10px;
}
.working-hours .text-right {
  float: right;
}
.footer-bottom {
  padding: 25px 0;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 12px;
}

/* ----------------------------
     25. =page title 
     ------------------------------ */
.page-title-section {
  padding: 150px 0 80px;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  background-attachment: fixed;
}
.page-title-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.4;
  background: #000000;
}

/* ----------------------------
     26. =course page 
     ------------------------------ */
.courses-section .courses-list .course-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}
.courses-section .courses-list .course-img img {
  transition: var(--trans-05);
}
.courses-section .courses-list .course-item:hover .course-img img {
  transform: scale(1.1);
}

.courses-section .courses-list .course-content {
  padding: 30px;
}

.courses-section .courses-list .course-title {
  font-size: 24px;
  line-height: 1.3;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* ----------------------------
     27. =course detail page 
     ------------------------------ */
.overlay-dark {
  position: relative;
}
.overlay-dark::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--dark-to-main-color);
  opacity: 0.9;
}

/* ----------------------------
     28. =blog page 
     ------------------------------ */
.blog-section .posts-list .post-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}
.blog-section .posts-list .post-img img {
  transition: var(--trans-05);
}
.blog-section .posts-list .post-item:hover .post-img img {
  transform: scale(1.1);
}
.blog-section .posts-list .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  color: var(--white);
  text-transform: uppercase;
  padding: 6px 12px;
  font-weight: 500;
}
.blog-section .posts-list .post-content {
  padding: 30px;
}

.blog-section .posts-list .post-title {
  line-height: 1.3;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.blog-section .posts-list .meta i {
  color: #838893;
}
.blog-section .posts-list .meta span {
  /* font-size: 15px; */
  color: #838893;
}

.blog-section .posts-list p {
  margin-top: 20px;
}

.blog-section .posts-list hr {
  color: #888;
  margin-bottom: 20px;
}

/* ----------------------------
     29. =blog post page 
     ------------------------------ */
.blog-content-section .sidebar {
  width: auto !important;
}
.blog-content-section .recent-posts h4 {
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
}
.blog-section .posts-list .post-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}
.post {
  border-bottom: 1px solid #dadada;
  padding: 0 0 30px;
  margin: 0 0 45px;
}
.post-body {
  padding: 20px 0;
}
.post-meta {
  padding-bottom: 10px;
}
.post-meta span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #dadada;
  line-height: 12px;
  display: inline-block;
}
.post-meta span a {
  text-decoration: none;
  color: var(--primary);
}
.post-meta i {
  color: #bbb;
  margin-right: 3px;
}
.post-meta .post-date {
  border-right: 0;
}
.blog-content-section .sidebar {
  width: auto !important;
}
.blog-content-section .recent-posts h4 {
  /* font-size: 15px; */
  font-weight: bold;
  text-transform: none;
}
.sidebar .widget-title {
  /* font-size: 16px; */
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sidebar ul.nav-tabs li {
  color: #303030;
  line-height: normal;
}
.sidebar ul.nav-tabs li {
  width: 100%;
}

.sidebar ul.nav-tabs li a {
  color: var(--main-color);
  border-radius: 0;
  padding: 15px 0;
  padding-left: 0px;
  padding-left: 0;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  display: block;
  transition: all 0.3s;
  text-decoration: none;
}
.blog-content-section .tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000000;
  border: 1px solid #ccc;
  font-size: 11px;
}
